.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.p12
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.~lock.*.*#
/gradle.properties
!/document/acc.pdf
/document/acc.pdf
/data/

*-dev.yaml